ORACLE_USER=USUARIO_DE_ORACLE
ORACLE_PASSWORD=CONTRASEÑA_DE_ORACLE
ORACLE_WALLET_PATH=RUTA_DEL_WALLET
ORACLE_WALLET_PASSWORD=CONTRASEÑA_DEL_WALLET

MONGO_URI=mongodb://USUARIO_DE_MONGO:CONTRASEÑA_DE_MONGO@IP_DE_MONGO:27017/NOMBRE_DE_LA_BD?authSource=admin
MONGO_DB_NAME=NOMBRE_DE_LA_BD