# MongoDB local o remoto
MONGO_URI=mongodb://USUARIO:CONTRASEÑA@HOST:27017/moviestream?authSource=admin
MONGO_DB_NAME=moviestream

# Azure Cosmos DB (API for MongoDB) — pega la cadena del portal Azure
# MONGO_URI=mongodb://cuenta:KEY@cuenta.mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=globaldb&retrywrites=false&maxIdleTimeMS=120000
# MONGO_DB_NAME=moviestream
# MONGO_TLS=true

PORT=3000
HOST=0.0.0.0
